#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background-image: url("linux2.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

 .card {
  padding: 2em;
  position: relative;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.card .flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover > .flip-card-inner {
  transform: rotateY(180deg);
}

.card .flip-card-front {
  background-image: url("/flashcard.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
}

.card .flip-card-front,
.card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}



.card .flip-card-front h2,
.card .flip-card-back h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;;
  backface-visibility: hidden; /*the most painful part and i finally found out how to fix it!*/
}

.card .flip-card-back h2 {
  color: #1a1a1a;
  font-size: 1rem;
  line-height: 1.5;
}

.card.flipped .flip-card-front h2 {
  display: none;
}

.card .flip-card-back {
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotateY(180deg);
  background: none;
} 

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: none;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}


.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front{
  /*background-image: url("flashcard.webp"); */
/*  background-size: 350px 100px;
}

.back {
  background-color: none;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
} */